.container {
  background-color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  background-image: linear-gradient(to top, #ff6e7f, #bfe9ff);
  border-radius: 20px;
  text-align: center;
  padding: 40px;
}

.heading {
  font-family: Roboto;
  font-size: 50px;
  margin-bottom: 50px;
}

.paragraph {
  font-family: Roboto;
  font-size: 36px;
  color: #334155;
  font-weight: 600;
  margin-bottom: 20px;
}

.button {
  background-color: white;
  border-color: black;
  border-width: 2px;
  border-radius: 5px;
  height: 36px;
  width: 120px;
  color: #334155;
}

.paragraph-2 {
  color: #334155;
  font-family: Roboto;
  font-size: 14px;
}
